<?xml version="1.0" encoding="utf-8"?>
<environments xmlns="urn:umbracodeploy-environments" id="e4f52d8a-9657-4036-8a99-60e9fae29bbd" name="eiriks Dynamic Llama" alias="eiriks-dynamic-llama" type="Starter" color="" url="https://www.s1.umbraco.io/project/eiriks-dynamic-llama" trialExpireDate="2019-01-17T14:06:17">
  <environment type="live" name="Live" id="33ba12fe-5a76-485d-82c8-06f3faddf701">https://eiriks-dynamic-llama.s1.umbraco.io</environment>
</environments>